.features{
    /* background: red; */
    margin: 0vw 8vw 5vw;
    /* padding: 3vw; */
    font-family: "Spline Sans", serif;
    display: flex;
    flex-direction: column;
    gap: 4vw;
}
.upperdiv{
    /* background: red; */
    display: flex;
    gap: 4vw;
    /* justify-content: space-between; */
    /* width: 100vw; */
}

.upperleft{
    /* background: yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.upperright {
    width: 80%;
    background-image: url("https://s3-alpha-sig.figma.com/img/bb58/8d70/1fe2624e78aa5d74259201d21f2ae455?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XzCZUPgVqxc8PQre97VeBhk~BwqvQshg80V1uLF5wNppNRt4X7gecI--~~ODoZDBc0H1L6HWfH78xH96lFNf13oPyo1lquxVOdK7FnIzgLPe0jmH0ol8xNOBN0Mukd3CMJp0zeCCvPnSUSAhGsTZsQGXggCxl5QU3JiRUG0yTkX-wPQDBCnWIqnmrNG6mLX3QkDQHmt9oC25F3CuyX3GrDVHrddL7Gi8ZkhE8NPBiZivLFqdOAMYja8g2IrqUcQVjgRCXyLpccZN3KPeazgG6lYEXfKWsOcjr4QK1yHnXKtGjj7r9R6LwOySEebPcBFEJA7CspyyhHkfAZ54vc643g__");
    display: flex;
    margin: 2vw;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transform: scale(1.4) rotateY(180deg);
}


.lowerdiv{
    display: flex;
    gap: 5vw;
}
.lowerright{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8vw;
}
.lowerleft{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://s3-alpha-sig.figma.com/img/0db7/f1e6/1707b7e00b22f04a9e24f226668314ea?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NrTa7btnXsQZtglanCtajs5IyycRqxrd1937ibOrRzhnstBP62LjuLbZDkDNIQ9Pyfoq5EfD84lH1JD6AziJBlapoPZidcRGyY5WLxq2CmAWvOcRW1lrMS5H5eNhUXTiHxAjsUarwq2tk0g7U3OpeyZ0jQIDEz1yuunM5~b0s0OCyflqDSNfocu3VzkblVObR~QVJxGVQtmyTLkJvrW4Rv3DMp4ApZhWVMOA5846FqQWa05x93KGxDjpxNv2FwBhuiHpogKRERlN6oJAHaFv2QFTtXv7GKH2dta8583Oy2HGTlwkY4wGwF9KSFSXxtkystWYAVKOv4I9IDNLIMrevA__");
    transform: scale(1.2);
    margin: 3vw;
}
.features img{
    width: 100%;
}
.heading{
    font-size: 1.7vw;
    color: var(--basic-color);
    /* background: red; */
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8vw 1.7vw;
    box-shadow: 0px 0px 50px 1px var(--basic-color);
    border-radius: 30px;
    font-weight: 600;
}