.outerhero {
  margin: 8vw 5vw 2vw;
  padding: 4vw;
  font-family: "Spline Sans", serif;
  /* background: red; */
}

.innerhero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 5vw;
}

.left {
  padding: 15vw 4vw;
  width: 65%;
  /* height: 100%; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url("https://s3-alpha-sig.figma.com/img/0491/53eb/27e60d5915ccd647eac34b8551c57b2d?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nd7gxmORSk7CZZCSxQmOEU5ZQemLLG3wI4NOZGW-tUQO3PM2MjOS5Wo5ZSFo~okfChMzQwKRtuUV1W7q0FcTbk9GaAeAXVmD-~bET2KfoY0lgjX~6Jgc9-jovM5nHp2guI8UsjUcm-r~mBmq0mveqsK8outu9il~fVY3JBg7dkKqzy~eGIRs0Q0YLjnTiDjvn1xeGbbrhBbo82vtgeNMJZ9KlU-wl6UPeBGav04BB-A7-58mSqipH4zlkVJnaRPaLzpHJX6rR12Nv0kdt8ZSJWFLPPwbdNir6IJq~HLahucMNMh-9gibwKM~gETz~Nx5jdUSH5ENtJTWNHbIu6mO0w__");
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
  width: 100%;
}

.media1 {
  width: 1.9vw;
}

.media {
  width: 4%;
}

.socialmedia {
  display: flex;
  gap: 1vw;
  align-items: center;
  position: relative;
}

.para {
  color: rgb(126, 121, 121);
  width: 75%;
  font-size: 1.1vw;
  text-align: left;
}

.join {
  background: var(--basic-color);
  padding: 0.8vw 1.2vw;
  width: 33%;
  text-align: center;
  font-size: 1.3vw;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
}

.number {
  display: flex;
  gap: 3vw;
}

.number h2 {
  font-size: 2.2vw;
}

.number h3 {
  font-size: 0.9vw;
  color: var(--basic-color);
  font-weight: 400;
}

.innum {
  display: flex;
  flex-direction: column;
  /* gap: .1vw; */
  /* justify-content: center; */
  align-items: center;
}

@media (max-width: 768px) {
  .outerhero {
    margin: 35vw 3vw 1vw;
    /* background: #ff0000; */
    padding: 3vw;
  }

  .innerhero {
    gap: 3vw;
    flex-direction: column;
  }

  .left {
    padding: 35vw ;
    width: 60%;
    /* height: 100%; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url("https://s3-alpha-sig.figma.com/img/0491/53eb/27e60d5915ccd647eac34b8551c57b2d?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nd7gxmORSk7CZZCSxQmOEU5ZQemLLG3wI4NOZGW-tUQO3PM2MjOS5Wo5ZSFo~okfChMzQwKRtuUV1W7q0FcTbk9GaAeAXVmD-~bET2KfoY0lgjX~6Jgc9-jovM5nHp2guI8UsjUcm-r~mBmq0mveqsK8outu9il~fVY3JBg7dkKqzy~eGIRs0Q0YLjnTiDjvn1xeGbbrhBbo82vtgeNMJZ9KlU-wl6UPeBGav04BB-A7-58mSqipH4zlkVJnaRPaLzpHJX6rR12Nv0kdt8ZSJWFLPPwbdNir6IJq~HLahucMNMh-9gibwKM~gETz~Nx5jdUSH5ENtJTWNHbIu6mO0w__");
  }
  .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    padding: 3vw;
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
  }
  .media1 {
    width: 4.6vw;
  }

  .media {
    width: 4%;
  }

  .para {
    font-size: 2.2vw;
    text-align: center;
    width: 90%;
  }

  .join {
    padding: 2vw 4vw;
    font-size: 3vw;
    width: 40%;
  }

  .number {
    gap: 3vw;
  }

  .number h2 {
    font-size: 4vw;
  }

  .number h3 {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .outerhero {
    margin: 35vw 3vw 1vw;
    padding: 3vw;
  }

  .innerhero {
    gap: 3vw;
    flex-direction: column;
  }

  .left {
    padding: 40vw ;
    width: 60%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url("https://s3-alpha-sig.figma.com/img/0491/53eb/27e60d5915ccd647eac34b8551c57b2d?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nd7gxmORSk7CZZCSxQmOEU5ZQemLLG3wI4NOZGW-tUQO3PM2MjOS5Wo5ZSFo~okfChMzQwKRtuUV1W7q0FcTbk9GaAeAXVmD-~bET2KfoY0lgjX~6Jgc9-jovM5nHp2guI8UsjUcm-r~mBmq0mveqsK8outu9il~fVY3JBg7dkKqzy~eGIRs0Q0YLjnTiDjvn1xeGbbrhBbo82vtgeNMJZ9KlU-wl6UPeBGav04BB-A7-58mSqipH4zlkVJnaRPaLzpHJX6rR12Nv0kdt8ZSJWFLPPwbdNir6IJq~HLahucMNMh-9gibwKM~gETz~Nx5jdUSH5ENtJTWNHbIu6mO0w__");
  }
  .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    padding: 3vw;
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
  }
  .right h1 {
    font-size: 6vw;
  }
  .media1 {
    width: 4.6vw;
  }

  .media {
    width: 4%;
  }

  .para {
    font-size: 2.8vw;
    width: 90%;
    text-align: center;
  }

  .join {
    padding: 2vw 4vw;
    font-size: 3vw;
    width: 40%;
  }

  .number {
    gap: 3vw;
  }

  .number h2 {
    font-size: 4vw;
  }

  .number h3 {
    font-size: 2.1vw;
  }
}
