.outerbox {
  padding: 2vw;
  background: white;
  margin: 5vw;
  font-family: "Spline Sans", serif;
  backdrop-filter: blur(1000px);
  background: white;
  position: relative;
}

.smallEclipse {
  position: absolute;
  right: 7%;
  top: 4%;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: var(--small-eclipse);
  box-shadow: 0 0 200px rgba(19, 19, 19, 0.4);
  animation: small 2s infinite cubic-bezier(0, 0, 1, 1);
}
@keyframes small {
  0% {
    top: 2%;
  }
  25% {
    top: 4%;
  }
  75% {
    top: 6%;
  }
  100% {
    top: 2%;
  }
}

.largEclipse {
  position: absolute;
  width: 20vw;
  left: 20%;
  top: 10%;
  height: 20vw;
  border-radius: 50%;
  background-color: var(--large-eclipse);
  box-shadow: 0 0 200px rgba(19, 19, 19, 0.4);
  animation: large 2s infinite cubic-bezier(0, 0, 1, 1);
}
@keyframes large {
  0% {
    top: 20%;
  }
  25% {
    top: 30%;
  }
  75% {
    top: 40%;
  }
  100% {
    top: 20%;
  }
}


.innerbox {
  padding: 3vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.hero h1 {
  font-size: 3.3vw;
}

.hero h1 span {
  color: var(--basic-color);
}

.hero h3 {
  font-size: 1.6vw;
  color: rgb(104, 101, 101);
  font-weight: 500;
}

.form {
  gap: 2vw;
  display: flex;
  background: white;
  padding: 0.6vw;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: -330px 50px 100px 170px var(--home-bg-color),
            330px 50px 100px 170px var(--home-bg-color);
}

.form input,
.form input:focus,
.form input:active {
  border: none;
  font-size: 1.4vw;
  margin: 0.5vw;
  padding: 0vw 1vw;
  font-weight: 700;
  outline: none;
}

.form input::placeholder {
  color: rgb(150, 148, 148);
}

.form button {
  padding: 1.5vw 2.3vw;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  background: var(--basic-color);
  font-size: 1.4vw;
  border: 0 solid white;
  cursor: pointer;
}

.badge1 {
  position: absolute;
  z-index: 1;
  top: 60%;
  width: 20%;
  animation: badge1 4s infinite cubic-bezier(0, 0, 1, 1);
}

.badge2 {
  position: absolute;
  z-index: 1;
  right: 45%;
  animation: badge2 4s infinite cubic-bezier(0, 0, 1, 1);
}

.badge3 {
  position: absolute;
  z-index: 1;
  right: 10%;
  width: 21%;
  animation: badge3 4s infinite cubic-bezier(0, 0, 1, 1);
}

@keyframes badge1 {
  0% {
    top: 68%;
  }
  25% {
    top: 70%;
  }
  75% {
    top: 72;
  }
  100% {
    top: 68%;
  }
}

@keyframes badge2 {
  0% {
    top: 108%;
  }
  25% {
    top: 110%;
  }
  75% {
    top: 112%;
  }
  100% {
    top: 108%;
  }
}

@keyframes badge3 {
  0% {
    top: 88%;
  }
  25% {
    top: 90%;
  }
  75% {
    top: 82%;
  }
  100% {
    top: 88%;
  }
}

@media (max-width: 768px) {
  .outerbox {
    padding: 5vw;
    margin: 2vw 5vw;
    /* background: red; */
  }
  .smallEclipse {
    width: 15vw;
    height: 15vw;
    right: 5%;
    top: 20%;
  }
  @keyframes small {
    0% {
      top: 5%;
    }
    25% {
      top: 8%;
    }
    75% {
      top: 12%;
    }
    100% {
      top: 5%;
    }
  }
  
  .largEclipse {
    width: 25vw;
    height: 25vw;
    left: 5%;
    top: 15%;
  }

  @keyframes large {
    0% {
      top: 18%;
    }
    25% {
      top: 20%;
    }
    75% {
      top: 22%;
    }
    100% {
      top: 18%;
    }
  }
  .innerbox {
    padding: 5vw 2vw;
    /* background: red; */
  }
  .hero {
    gap: 5vw;
  }
  .hero h1 {
    font-size: 6vw;
  }
  .hero h3 {
    font-size: 3vw;
  }
  .form {
    gap: 0vw;
    padding: 1vw;
    box-shadow:   0 50px 100px 250px var(--home-bg-color);
  }

  .form input,
  .form input:focus,
  .form input:active {
    font-size: 2.8vw;
    margin: 1vw;
    /* padding: 0vw 0vw; */
  }
  .form button {
    padding: 3vw 3vw;
    font-size: 2.5vw;
    border-radius: 50px;
    /* margin: 1vw; */
  }
  .badge1 {
    top: 70%;
    left: 0;
    width: 25%;
  }
  .badge2 {
    right: 40%;
    width: 25%;
  }
  .badge3 {
    right: 2%;
    width: 31%;
    width: 25%;
  }

  @keyframes badge1 {
    0% {
      top: 95%;
    }
    25% {
      top: 100%;
    }
    75% {
      top: 102%;
    }
    100% {
      top: 95%;
    }
  }
  
  @keyframes badge2 {
    0% {
      top: 108%;
    }
    25% {
      top: 110%;
    }
    75% {
      top: 112%;
    }
    100% {
      top: 108%;
    }
  }
  
  @keyframes badge3 {
    0% {
      top: 98%;
    }
    25% {
      top: 100%;
    }
    75% {
      top: 102%;
    }
    100% {
      top: 98%;
    }
  }
  
}

@media (max-width: 480px) {
  .outerbox {
    padding: 0vw 5vw;
    margin: 0vw 3vw;
    /* background: red; */
  }
  .smallEclipse {
    width: 15vw;
    height: 15vw;
    right: 5%;
    top: 20%;
  }
  @keyframes small {
    0% {
      top: 18%;
    }
    25% {
      top: 20%;
    }
    75% {
      top: 22%;
    }
    100% {
      top: 18%;
    }
  }
  
  .largEclipse {
    width: 25vw;
    height: 25vw;
    left: 5%;
    top: 15%;
  }

  @keyframes large {
    0% {
      top: 38%;
    }
    25% {
      top: 40%;
    }
    75% {
      top: 42%;
    }
    100% {
      top: 38%;
    }
  }
  .innerbox {
    padding: 5vw;
    /* background: red; */
    margin: 10vw 0vw;
    /* gap: 5vw; */
  }
  .hero {
    gap: 10vw;
  }
  .hero h1 {
    font-size: 6vw;
  }
  .hero h3 {
    font-size: 3vw;
  }
  .form {
    gap: 0vw;
    padding: 1vw;
    box-shadow:   0 0 100px 150px var(--home-bg-color);
  }

  .form input,
  .form input:focus,
  .form input:active {
    font-size: 2.8vw;
    margin: 1vw;
    /* padding: 0vw 0vw; */
  }
  .form button {
    padding: 2.5vw 2.5vw;
    font-size: 2.5vw;
    border-radius: 50px;
    /* margin: 1vw; */
  }
  .badge1 {
    top: 70%;
    left: 0;
    width: 35%;
  }
  .badge2 {
    right: 40%;
    width: 35%;
  }
  .badge3 {
    right: 5%;
    width: 31%;
    width: 35%;
  }

  @keyframes badge1 {
    0% {
      top: 75%;
    }
    25% {
      top: 80%;
    }
    75% {
      top: 82%;
    }
    100% {
      top: 75%;
    }
  }
  
  @keyframes badge2 {
    0% {
      top: 108%;
    }
    25% {
      top: 110%;
    }
    75% {
      top: 112%;
    }
    100% {
      top: 108%;
    }
  }
  
  @keyframes badge3 {
    0% {
      top: 93%;
    }
    25% {
      top: 95%;
    }
    75% {
      top: 97%;
    }
    100% {
      top: 93%;
    }
  }
  
}