.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 25px;
  gap: 0vw;
  font-family: "Spline Sans", serif;
}

.pic {
  width: 17%;
  padding: .5vw 1vw;
}

.box h4 {
  font-weight: 400;
  font-size: 1vw;
  color: var(--basic-color);
}

.downarrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left:1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 2vw solid white;
  bottom: -65%;
  right: 5%;
}

.profile{
    position: absolute;
    width: 18%;
    height: 150%;
    border-radius: 100%;
    bottom: -200%;
    right: -5%;
    border: 1.5px solid var(--basic-color);
    object-fit: cover;
}

/* Tablet View */
@media (max-width: 768px) {
  .box {
    /* flex-direction: column; */
    padding: 1vw;
    gap: 2vw;
    
  }

  .pic {
    width: 30%;
    padding: 1vw;
  }

  .box h4 {
    font-size: 1.8vw;
  }

  .downarrow {
    bottom: -30%;
    right: 10%;
  }

  .profile{
    width: 35%;
    height: 90%;
    bottom: -130%;
    right: -10%;
  }
}

/* mobile view */
@media (max-width: 460px) {
  .box {
    /* flex-direction: column; */
    padding: 0vw;
    gap: 0vw;
    width: 115%;
    
  }

  .pic {
    width: 20%;
    padding: 1.5vw;
  }

  .box h4 {
    font-size: 2vw;
    padding: 2vw;
  }

  .downarrow {
    bottom: -30%;
    right: 0%;
    border-left:2vw solid transparent;
    border-right:2vw solid transparent;
    border-top: 3vw solid white;
  }

  .profile{
    width: 25%;
    height: 100%;
    bottom: -130%;
    right: -15%;
  }
}