.container {
  background: var(--qs-boxColor);
  padding: 2vw 3vw;
  font-family: "Spline Sans", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 15vh;
}

.quest {
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quest img {
  width: 4%;
  transform: rotate(-90deg);
}

.quest h2 {
  font-size: 1.5vw;
}
.ans{
  /* background: yellow; */
}
.ans p {
  transition: all 0.5s;
  width: 100%;
  padding: 0.6vw 0vw 0vw; 
  font-size: 1.1vw;
  /* box-sizing: border-box; */
}

/* Tablet View */
@media (max-width: 768px) {
  .container {
    padding: 4vw 5vw;
  }
  .quest h2 {
    font-size: 2.5vw;
  }
  .ans p {
    width: 90%;
    padding-top: 1vw;
    font-size: 1.9vw;
  }
}

@media (max-width: 768px) {
    .container {
      padding: 4vw 5vw;
    }
    .quest h2 {
      font-size: 2.8vw;
    }
    .ans p {
      width: 95%;
      padding-top: 1vw;
      font-size: 2.3vw;
    }
  }