.slide {
  background-color: var(--slide-box);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 95%;
}

.imgbox {
  display: flex;
  background: white;
  padding: 1vw;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 12%;
  /* height: 40%; */
  margin-left: -3vw;
  box-shadow: -5px 0px 10px rgba(0, 0, 255, 0.2);
}
 
.imgbox img {
  width: 100%;
  height: auto;
}

.text {
  padding: 0.8vw;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.2vw;
  margin: 0.5vw;
}

.text h1 {
  font-size: 1.6vw;
  font-weight: 500;
}

.text h3 {
  font-size: 1.1vw;
  font-weight: 100;
}

@media (max-width: 768px) {
    .slide {
      width: 100%;
      /* flex-direction: column; */
      border-radius: 10px;
    }
    .imgbox {
      width: 20%;
      padding: 2vw;
      margin-left: -6vw;
    }
    .text {
      padding: 1.2vw;
      gap: 0.5vw;
      margin: 1vw;
    }
    .text h1 {
      font-size: 3.5vw;
    }
    .text h3 {
      font-size: 2.3vw;
    }
  }

  @media (max-width: 480px) {
    .slide {
      width: 100%;
      /* flex-direction: column; */
      border-radius: 10px;
    }
    .imgbox {
      width: 20%;
      padding: 2vw;
      margin-left: -6vw;
    }
    .text {
      padding: 1.2vw;
      gap: 0.5vw;
      margin: 1vw;
    }
    .text h1 {
      font-size: 3.5vw;
    }
    .text h3 {
      font-size: 2.3vw;
    }
  }
